@model RamsaDefenceHW1.Models.Items
@{
	ViewData["Title"] = "Delete";
}

<h3>Are you sure you want to delete this item?</h3>

<p>@Model.Name</p>
<p>@Model.Price</p>
<p>@Model.StockQuantity</p>

<form asp-action="Delete" method="post">
	<input type="hidden" asp-for="Id"/>	
	<input type="submit" class="btn btn-outline-danger" value="Delete" />
</form>